{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'portfolio/components/header.html' %}

{% include 'portfolio/components/summary_cards.html' %}

{% include 'portfolio/components/charts.html' %}

{% include 'portfolio/components/top_holdings.html' %}

{% include 'portfolio/components/insights.html' %}

{% include 'portfolio/components/holdings.html' %}

{% include 'portfolio/components/transaction_history.html' %}

{{ sector_labels|json_script:"sector-labels" }}
{{ sector_values|json_script:"sector-values" }}

{{ asset_labels|json_script:"asset-labels" }}
{{ asset_values|json_script:"asset-values" }}

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/portfolio.js' %}"></script>
{% endblock scripts %}