{% extends 'base.html' %}

{% block content %}

<h1>{{ portfolio.name }}</h1>

<p>
    Base Currency:
    {{ portfolio.base_currency }}
</p>

<p>
    Created:
    {{ portfolio.created_at }}
</p>
<p>
	<a href="{% url 'update_portfolio' portfolio.id %}">Edit Portfolio</a>
</p>
<p>
	<a href="{% url 'delete_portfolio' portfolio.id %}">Delete Portfolio</a>
</p>

<h2><a href="{% url 'create_transaction' portfolio.id %}">New Transaction</a></h2>

<h2>Holdings</h2>

{% for asset_id, data in holdings.items %}
	<div>
		<p>
			Asset Name: {{ data.asset.name }}
		</p>

		<p>
			Quantity: {{ data.quantity }}
		</p>

		<p>
			Average Buy Price: {{ data.avg_buy_price }}
		</p>

		<p>
			Total Cost: {{ data.total_cost }}
		</p>

		<br>
	</div>

	{% empty %}
			<p>No holdings found for this portfolio.</p>
{% endfor %}

<h2>Transaction History</h2>

{% for transaction in transactions %}

<div>
	<p>
		<strong>{{transaction.transaction_type}}</strong>
		-
		{{transaction.asset.name}}
	</p>
	<p>
		Quantity: {{transaction.quantity}}
	</p>
	<p>
		Price: {{transaction.price}}
	</p>
	<p>
		Fees: {{transaction.fees}}
	</p>
	<p>
		Taxes: {{transaction.taxes}}
	</p>
	<p>
		Date: {{transaction.transaction_date}}
	</p>
	<a href="{% url 'update_transaction' portfolio.id transaction.id %}">
		Edit Transaction
	</a><br>
	<a href="{% url 'delete_transaction' portfolio.id transaction.id %}">
		Delete Transaction
	</a>
</div>
<hr>

{% empty %}

	<p>No transactions found for this portfolio.</p>

{% endfor %}

{% endblock content %}