<nav class="navbar bg-slate-900 border-b border-slate-800 shadow-lg px-8 h-16">

    <div class="flex-1">

        <a href="{% url 'dashboard' %}"
           class="flex items-center gap-2
                  text-2xl font-bold
                  text-blue-400
                  hover:text-blue-300
                  transition">

            <i data-lucide="chart-no-axes-combined"
               class="w-6 h-6">
            </i>

            <span>
                WealthTrack
            </span>

        </a>

    </div>


    <div class="flex-none">

        {% if request.user.is_authenticated %}

            <span class="text-slate-300 font-medium">

                Welcome,

                <span class="text-white">
                    {{ request.user.username }}
                </span>

            </span>

        {% endif %}

    </div>

</nav>